# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
dist/
build/
*.egg-info/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local envs
.env
.env.local
